# Practise Inferential Statistics

## Importing all the necessary Liabraries

In [478]:
import pandas as pd

In [479]:
import numpy as np

In [480]:
import matplotlib.pyplot as plt

In [481]:
from scipy import stats

In [482]:
from scipy.stats import chi2_contingency

In [483]:
from sklearn.linear_model import LinearRegression

## Sample Data for practise

In [484]:
np.random.seed(3)

In [485]:
numOfObservations = 350

In [486]:
ages = np.random.randint(18,35,numOfObservations)

In [487]:
genders = np.random.choice(['Male','Female','TransMale','TransFemale','Other'],numOfObservations)

In [488]:
annual_income = np.random.normal(55000,15500,numOfObservations).round(2)

In [489]:
educational_level = np.random.choice(['Matric','Diploma', 'Advanced Diploma(B-Tech)','Bachelor','Masters'],numOfObservations,p=[0.25,0.35,0.2,0.15,0.05])

In [490]:
test_scores = np.random.normal(80,20,numOfObservations).round(2)

## Load into DataFrame

In [491]:
data = {
  'Age': ages,
  'Gender': genders,
  'AnnualIncome': annual_income,
  'EducationalLevel': educational_level,
  'TestScore': test_scores
}
df = pd.DataFrame(data)
df

     Age       Gender  AnnualIncome          EducationalLevel  TestScore
0     28  TransFemale      38201.61                    Matric      57.32
1     21         Male      60129.93                   Diploma      93.49
2     26       Female      37313.90                    Matric      73.16
3     18    TransMale      23794.51                   Diploma      59.85
4     28        Other      63008.69                    Matric      87.27
..   ...          ...           ...                       ...        ...
345   24       Female      47256.67                  Bachelor      74.49
346   31         Male      71494.37                  Bachelor      41.10
347   33  TransFemale      63526.46                    Matric      69.86
348   26       Female      43967.29  Advanced Diploma(B-Tech)      45.66
349   33        Other      61406.43                   Diploma     118.03

[350 rows x 5 columns]

## Convert to CSV

In [492]:
df.to_csv(r'C:\Users\Itumeleng.Sekoma\Desktop\Test777777\.ipynb_checkpoints\sample_inferential_statistics_data.csv',index=False)
print("Congratulations MR Sekoma You are done with the first step, keep in mind that you still have a long way to go NIGGER!!!")

Congratulations MR Sekoma You are done with the first step, keep in mind that you still have a long way to go NIGGER!!!

## Load CSV file containing Sample data

In [493]:
sample_inferential_stats_df = pd.read_csv(r'C:\Users\Itumeleng.Sekoma\Desktop\Test777777\.ipynb_checkpoints\sample_inferential_statistics_data.csv')

## Inspect Data

In [494]:
sample_inferential_stats_df.head()

   Age       Gender  AnnualIncome EducationalLevel  TestScore
0   28  TransFemale      38201.61           Matric      57.32
1   21         Male      60129.93          Diploma      93.49
2   26       Female      37313.90           Matric      73.16
3   18    TransMale      23794.51          Diploma      59.85
4   28        Other      63008.69           Matric      87.27

In [495]:
sample_inferential_stats_df.tail()

     Age       Gender  AnnualIncome          EducationalLevel  TestScore
345   24       Female      47256.67                  Bachelor      74.49
346   31         Male      71494.37                  Bachelor      41.10
347   33  TransFemale      63526.46                    Matric      69.86
348   26       Female      43967.29  Advanced Diploma(B-Tech)      45.66
349   33        Other      61406.43                   Diploma     118.03

In [496]:
sample_inferential_stats_df.describe()

              Age   AnnualIncome   TestScore
count  350.000000     350.000000  350.000000
mean    25.771429   55083.673257   79.868229
std      5.014510   15502.806476   20.102722
min     18.000000   10024.790000   20.660000
25%     21.000000   45317.897500   66.445000
50%     26.000000   55343.780000   78.705000
75%     30.000000   64546.470000   93.542500
max     34.000000  101927.510000  137.310000

In [497]:
print("This Data set contains:", sample_inferential_stats_df.shape[1]," Fields"," and ", sample_inferential_stats_df.shape[0], " Records")

This Data set contains: 5  Fields  and  350  Records

In [498]:
sample_inferential_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               350 non-null    int64
 1   Gender            350 non-null    object
 2   AnnualIncome      350 non-null    float64
 3   EducationalLevel  350 non-null    object
 4   TestScore         350 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 13.8+ KB

## Cleaning

In [499]:
q1 = sample_inferential_stats_df['AnnualIncome'].quantile(0.25)
print(q1)

45317.8975

In [500]:
q3 = sample_inferential_stats_df['AnnualIncome'].quantile(0.75)
print(q3)

64546.47

In [501]:
iqr = round(q3 - q1,2)
print(iqr)

19228.57

In [502]:
lower_bound = round(q1 - 1.5 * iqr,2)
print(lower_bound)

16475.04

In [503]:
upper_bound = round(q3 + 1.5 * iqr, 2)
print(upper_bound)

93389.32

In [504]:
outliers = sample_inferential_stats_df[(sample_inferential_stats_df['AnnualIncome'] < lower_bound) |(sample_inferential_stats_df['AnnualIncome'] > upper_bound)]
print("There are ",outliers.shape[0]," Outliers identified")

There are  7  Outliers identified

## Remove outliers

In [505]:
cleaned_sample_inferential_stats_df = sample_inferential_stats_df.drop(outliers.index)
print("Now that we have removed the ", outliers.shape[0]," outliers, we have kept ",cleaned_sample_inferential_stats_df.shape[0]," observations in our cleaned dataset, from the original ",sample_inferential_stats_df.shape[0]," records")

Now that we have removed the  7  outliers, we have kept  343  observations in our cleaned dataset, from the original  350  records

# I will now attempt to perfrom inferential statistics inshallah